@font-face {
  font-family: "iconfont"; /* Project id 4406177 */
  src: url('iconfont.woff2?t=1711769352274') format('woff2'),
       url('iconfont.woff?t=1711769352274') format('woff'),
       url('iconfont.ttf?t=1711769352274') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhongxinshengcheng1:before {
  content: "\e601";
}

.icon-fuzhi:before {
  content: "\e602";
}

.icon-shenqing:before {
  content: "\e6a7";
}

.icon-ceshi:before {
  content: "\e6ac";
}

.icon-lianjieqi:before {
  content: "\e620";
}

.icon-setting:before {
  content: "\e674";
}

.icon-tuozhuai:before {
  content: "\e612";
}

.icon-app:before {
  content: "\e623";
}

.icon-home:before {
  content: "\e608";
}

.icon-filter:before {
  content: "\eacf";
}

.icon-reset_password:before {
  content: "\e60a";
}

.icon-disable:before {
  content: "\e6cc";
}

.icon-enable:before {
  content: "\e614";
}

.icon-huifu:before {
  content: "\e6d3";
}

.icon-eye:before {
  content: "\e616";
}

.icon-fanhui:before {
  content: "\e613";
}

.icon-plus:before {
  content: "\e879";
}

.icon-ellipsis:before {
  content: "\eb10";
}

.icon-edit:before {
  content: "\e652";
}

.icon-delete:before {
  content: "\e638";
}

.icon-detail:before {
  content: "\e647";
}

.icon-jinggao:before {
  content: "\e62d";
}

.icon-shanchu:before {
  content: "\e611";
}

.icon-xinzeng1:before {
  content: "\e604";
}

.icon-download:before {
  content: "\e622";
}

.icon-bianji:before {
  content: "\e615";
}

.icon-youjiantou:before {
  content: "\e88e";
}

.icon-tanhao:before {
  content: "\e8ec";
}

.icon-tuichu:before {
  content: "\e7ed";
}

.icon-dengpao:before {
  content: "\e6e3";
}

.icon-xiala:before {
  content: "\e63e";
}

.icon-shangla:before {
  content: "\e609";
}

.icon-mima:before {
  content: "\e621";
}

.icon-shoucang1:before {
  content: "\e65e";
}

.icon-shijian:before {
  content: "\e64f";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-fasong:before {
  content: "\e642";
}

.icon-sousuo1:before {
  content: "\e63f";
}

.icon-dianhua:before {
  content: "\e600";
}

.icon-yaoshi:before {
  content: "\e780";
}

.icon-lock:before {
  content: "\e6e9";
}

.icon-user:before {
  content: "\e765";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-phone:before {
  content: "\e629";
}

.icon-zhiding:before {
  content: "\e684";
}

.icon-liuyan:before {
  content: "\e60d";
}

.icon-arrow:before {
  content: "\e63d";
}

